
# General settings

DATABASE_URL=postgres:///task_board

DJANGO_ADMIN_URL=//admin//
DJANGO_SETTINGS_MODULE=config.settings.heroku
DJANGO_SECRET_KEY="HMpg8jJqawmhVtySb1/QJVDempyG6CsHi/Co1mQL1sQcnRpqSfkG5+FGmkX4CTy7"
DJANGO_ALLOWED_HOSTS=localhost,.herokuapp.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True



