{% load staticfiles %}
{% load crispy_forms_tags %}

<div class="modal fade" id="task-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <!--<h4 class="modal-title" id="myModalLabel">Task</h4>-->
      </div>
      <div class="modal-body">
        <div class="task-submit-status center-block"></div>
        <div class="task-form-wrapper">

        </div>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="task-editing-form-template">
  <form id="task-editing-form" class="center-block" action="" enctype="multipart/form-data" method="post">
    <div id="task-form-fields">
      {% csrf_token %}
      <div id="div_id_name" class="form-group"><label for="id_name" class="control-label  requiredField">
        Name<span class="asteriskField">*</span> </label>
        <div class="controls "><input class="textinput textInput form-control" id="id_name" maxlength="80" name="name"
                                      type="text" value="<%= name %>" required/></div>
      </div>
      <hr>
      <div id="div_id_status" class="form-group"><label for="id_status" class="control-label  requiredField">
        Status<span class="asteriskField">*</span> </label>
        <div class="controls "><select class="select form-control" id="id_status" name="status" required>
          <option value="0" selected="selected">Not done</option>
          <option value="1">Done</option>
        </select></div>
      </div>
      <hr>
      <div id="div_id_description" class="form-group"><label for="id_description" class="control-label  requiredField">
        Description<span class="asteriskField">*</span> </label>
        <div class="controls "> <textarea class="textarea form-control" cols="40" id="id_description" name="description"
                                          rows="10" required><%= description %></textarea></div>
      </div>

    </div>

    <div class="form-group row">
      <div class="controls col-md-12">
        <button id="submit" class="btn btn-primary" type="submit">Apply</button>
        <button id="cancel" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </form>

</script>

<!-- accomplished_by : "None"
created_by_username : "alex"
description : "Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin"
id : 26
name : "Task number 15"
status : 0-->

<script type="text/html" id="task-information-template">
  <div class="row">
    <div id="task-name" class="col-md-7">
      <b>Name:</b>
      <%= name %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <div class="control-buttons">
        <button id="edit-button" class="btn btn-default">E</button>
        <button id="delete-button" class="btn btn-default">D</button>
        <button id="markdone-button" class="btn btn-default">M</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div id="task-general-info" class="col-md-12">
      <b>Created by:</b>
      <%= created_by_username %>
    </div>
  </div>
  <div class="row">
    <div id="task-status" class="col-md-12">
      <b>Status: </b> <span class="status-label label label-primary"><%= status %> Not Done</span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div id="task-description" class="col-md-12">
      <b>Description:</b>
      <%= description %>
    </div>
  </div>
</script>

<script type="text/html" id="server-error-template">
  <div id="">
    <span class="server-status-label label label-danger">Server Internal Error</span>
    <h3>Ooops. Something went wrong.</h3>
    <p>Status <%= status %></p>
    <p><%= error %></p>
    <button id="close-error-form" class="btn btn-primary col-md-6 col-md-offset-3" data-dismiss="modal">Ok</button>
  </div>
</script>
