{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap_pagination %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/task-list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row task-list-page-header">
  <div class="col-md-8">
    {% if paginator %}
    {% bootstrap_paginate paginator.page range=10 %}
    {% endif %}
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-1">
    {% if filter_form %}
    <button style="float: right; " data-toggle="modal" data-target="#filtersModal"
            class="btn btn-default">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      Search
    </button>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-12 task-list">
      <table class="table table-bordered">
        <tbody>
        <tr class="active">
          <th class="text-center">Name</th>
          <th class="text-center">Owner</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>
        </tr>
        {% for task in results %}
        <tr class="task-list-item" id="task-id-{{ task.id }}" data-id="{{ task.id }}" data-name="{{ task.name }}" data-created-by-name="{{ task.created_by_username }}"
              data-description="{{ task.description }}" data-accomplished-by="{{ task.accomplished_by }}"
              data-status="{{ task.status }}">
          <td class="col-md-6">
            <a class="task-dialog-toggler" role="button" href="#task-data-{{ forloop.counter }}" data-toggle="modal"
                      data-target="#task-modal-form">
              {{ task.name }}
            </a>
          </td>
          <td class="col-md-2 text-center">
            {{ task.created_by_username }}
          </td>
          <td class="col-md-2 text-center">
            <span class="status-label label label-primary">{{ task.status }}</span>
            {{ task.accomplished_by }}
          </td>
          <td class="col-md-2 text-center">
            <div class="control-buttons">
              {% if user.pk == task.created_by %}
              <button id="edit-button" class="submit btn btn-default">E</button>
              <button id="delete-button" class="submit btn btn-default">D</button>
              {% endif %}
              <button id="markdone-button" class="submit btn btn-default">M</button>
            </div>
          </td>
        </tr>

        {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% if filter_form %}
{{ filter_form }}
{% endif %}

{% include 'tasks/task-modal-form.html' %}

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/underscore-min.js' %}"></script>
<script src="{% static 'js/task-modal-controller.js' %}"></script>
{% endblock %}
